.main {
    background-color: rgb(255, 255, 255);
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main h2 {
    padding-top: 10px;
    padding-left: 10px;
    padding: 5px;
}

.main h3 {
    padding-left: 10px;
    padding-top: 15px;
}

.main p {
    padding-left: 10px;
    font-size: 17px;
}

.articles-div {
    float: left;
    width: 80%;
}

.ads {
    float: right;
    background-color: lightcyan;
    width: 18%;
    margin: auto;
    height: 75rem;
    padding-top: 10px;
    border-radius: 20px;
}
