.main {
    background-color: rgb(255, 255, 255);
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main h2 {
    padding-top: 10px;
    padding-left: 10px;
    padding: 5px;
}

.main h3 {
    padding-left: 10px;
    padding-top: 15px;
}

.main p {
    padding-left: 10px;
    font-size: 17px;
}

.articles-div {
    float: left;
    width: 80%;
}

.ads {
    float: right;
    background-color: rgb(176, 250, 250);
    width: 18%;
    margin: auto;
    height: 81rem;
    padding-top: 10px;
    border-radius: 20px;
    animation-name: adsdiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes adsdiv {
    50% {
      background: #ffffff;
    }
  }